@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&family=Lato&family=Montserrat:wght@300&display=swap');

h1{
    text-align: center;
    margin: 12px 0;
    font-family: 'Lato', sans-serif;
}

.myform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    min-height: 72vh;
}
.btn{
    color: white;
    background-color: #344d44;
    padding: 5px 11px;
    cursor: pointer;
    margin: 12px;
}
.myinput{
    margin: 12px;
    height: 41px;
    width: 52%;
    border: 3px solid green;
    border-radius: 6px;
}
